// 드롭다운 영역
.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}

// 드롭다운 셀렉트 영역
.dropdown-select {
  // box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: black;
  background-color: white;
  justify-content: space-between;
  cursor: pointer;
}

// 드롭다운 리스트 영역
.dropdown-list {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: visible;

  max-height: auto;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  // border: 1px solid rgba(0, 0, 0, 0.3);

  z-index: 9999;
  background-color: white;
  gap: 5px;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: pointer;

  // 추가
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

// 드롭다운 셀렉트 영역 안 텍스트
.dropdown-title {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

// 드롭다운 셀렉트 영역 안 이미지
.dropdown-image {
  width: 30px;
  height: 30px;
}

.dropdown-image img {
  width: 100%;
  height: 100%;
}

.dropdown-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 드롭다운 리스트 안의 아이템 영역
.dropdown-item {
  list-style: none;
  width: 100%;
  text-align: center;
}

.dropdown-item:hover {
  background-color: #eeeeee;
}
