div.reservation-status-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: 20px;

  @media screen and (min-width: 768px) {
    min-width: 100%;
  }

  .reservation-status-dropdown-title {
    position: absolute;
    top: 51px;
    left: 11px;
    z-index: 1;
    padding: 0 5px;
    background-image: linear-gradient(to bottom, var(--gray10), var(--white));
    color: var(--black20);
    font-size: 1.4rem;
    font-weight: bold;

    @media screen and (min-width: 768px) {
      top: 70px;
      left: 21px;
      font-size: 1.6rem;
    }
  }
}

.reservation-status-title {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--black20);
}

.reservation-status-dropdown-box {
  @media screen and (min-width: 768px) {
    margin: 20px 0;
  }

  div.dropdown-ellipsis {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    height: 30px;
    font-size: 1.4rem;
    width: 290px;

    @media screen and (min-width: 768px) {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      width: 720px;
      height: 40px;
      padding: 3px 8px 0;
      font-size: 1.6rem;
    }
  }

  #activityNames {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 100%;
    }

    li.dropdown-item {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 10px 0;
      font-size: 1.4rem;
      text-align: center;
      width: 270px;

      @media screen and (min-width: 768px) {
        font-size: 1.6rem;
        width: 745px;
      }
    }
  }

  .dropdown-arrow {
    font-size: 2rem;
    font-weight: bold;
  }
}

.not-found-reservation-file-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;

  @media screen and (min-width: 768px) {
    gap: 50px;
  }

  .not-reservation-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--gray60);

    @media screen and (min-width: 768px) {
      font-size: 2.4rem;
    }
  }
}
