.button {
  // 모바일
  display: flex;
  width: fit-content;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;

  // 태블릿
  @media (min-width: 768px) {
    padding: 12px 24px;
    font-size: 1.6rem;
  }

  // 데스크탑
  @media (min-width: 1024px) {
    padding: 14px 28px;
  }
}
