.space-card-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  row-gap: 24px;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 32px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 48px;
  }
}

.space-categories-wrapper {
  display: flex;
  gap: 10px;
}
