.space-detail-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--gray10);

  .space-detail-container {
    width: 1200px;
    height: auto;
    margin: 0 auto;

    .space-detail-container-header {
      position: relative;
      padding-top: 78px;
      padding-bottom: 42px;

      h1 {
        font-size: 3.2rem;
        margin: 10px 0 16px;
      }

      h2 {
        margin-right: 12px;
      }

      h3 {
        opacity: 0.75;
      }

      h2,
      h3 {
        font-size: 1.4rem;
        font-weight: 400;
      }

      div {
        display: flex;
        align-items: center;

        img:nth-of-type(1) {
          width: 16px;
          height: 16px;
          margin-right: 6px;
        }
        img:nth-of-type(2) {
          width: 18px;
          height: 18px;
          margin-right: 2px;
        }
      }

      .dropdown {
        position: absolute;
        right: 0;
        top: 50%;
        width: 50px;
        height: 50px;

        .dropdown-select {
          background-color: var(--gray10);
          box-shadow: 0 0 0;
          border: 0;

          div {
            justify-content: center;
          }

          img {
            width: 40px;
            height: 40px;
            margin: 0;
          }
        }

        .dropdown-list {
          width: 160px;
          top: 50px;
          left: -130px;

          li {
            padding: 18px 46px;
            border-radius: 6px;
          }
        }
      }
    }

    .space-detail-container-pictures {
      width: 1198px;
      height: 534px;
      margin: 0 0 85px;
      display: grid;
      grid-template-columns: 595px 293.5px 293.5px;
      gap: 8px;

      div:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 3;
        height: 534px;
        img {
          border-radius: 12px 0 0 12px;
        }
      }

      div:nth-child(3) {
        img {
          border-radius: 0 12px 0 0;
        }
      }

      div:nth-child(5) {
        img {
          border-radius: 0 0 12px 0;
        }
      }

      div {
        height: 263px;
        border-radius: 12px;
      }

      .empty-image {
        background-color: var(--gray20);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .space-detail-container-body {
      float: left;

      .body-description {
        width: 790px;
        margin: 0 auto;
        padding: 40px 0 40px;
        line-height: 26px;
        border-top: 1px solid rgba(0, 0, 0, 0.25);
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);

        h2 {
          font-size: 2rem;
        }
      }

      .body-map {
        width: 790px;
        margin: 0 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        padding-bottom: 41px;

        div {
          display: flex;
          align-items: center;

          img {
            width: 18px;
            height: 18px;
            margin-right: 2px;
          }

          h3 {
            font-size: 1.4rem;
            font-weight: 400;
            opacity: 0.75;
          }
        }
      }

      .body-review {
        margin: 40px auto 0;
        width: 800px;

        h2 {
          font-size: 2rem;
          line-height: 26px;
        }

        .review-scoreboard {
          margin-top: 24px;

          h3 {
            font-size: 5rem;
            font-weight: 600;
            float: left;
            margin-right: 12px;
          }

          h4 {
            padding-top: 5px;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 24px; /* 133.333% */
          }

          div {
            display: flex;
            gap: 6px;
            padding-top: 8px;

            img {
              width: 16px;
              height: 16px;
            }

            h5 {
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
        }

        div:nth-of-type(3) {
          border-top: 1px solid rgba(0, 0, 0, 0.15);
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }

        .review-detail {
          padding: 24px 0 24px;

          img {
            width: 45px;
            height: 45px;
            border-radius: 100%;
            float: left;
            display: block;
          }

          div {
            display: flex;
            align-items: center;
            gap: 8px;
            padding-left: 16px;
            margin-bottom: 8px;

            h2 {
              font-size: 1.6rem;
            }

            h3 {
              font-family: Montserrat;
              font-size: 1.4rem;
              font-weight: 400;
            }

            h4 {
              font-size: 1.6rem;
              font-weight: 400;
            }
          }

          p {
            padding-left: 61px;
            font-size: 1.6rem;
            line-height: 26px; /* 162.5% */
          }
        }
      }

      .body-pagination {
        text-align: center;
        margin: 48px auto 0;
        width: 439px;
        height: 55px;
        background-color: tomato;
      }

      .bottom-space {
        width: 100%;
        height: 413px;
      }
    }

    .calendar {
      float: right;
      width: 384px;
      height: 746px;
      background-color: var(--white);
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
      border-radius: 12px;

      text-align: center;
    }
  }
}
