.main-banner-image {
  background-image: url('/assets/images/background-emptyRoom.jpg');
  background-size: 100% 450px;
  width: 100%;
  height: 450px;
  position: relative; /* 가상 요소의 위치를 조절할 수 있게 합니다 */
}

.main-banner-image::before {
  content: ''; /* 가상 요소를 추가합니다 */
  position: absolute; /* `main-banner-image`의 상대 위치에 배치합니다 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.main-banner-description {
  display: flex;
  flex-direction: column;
  position: relative; /* 부모 요소의 상대 위치에 배치합니다 */
  top: 130px;
  left: 120px;
  gap: 15px;
  color: var(--white);
}
