.calendar-box {
  flex: 1;
  height: 100%;
  position: relative;
}

.calendar-popup-box {
  position: absolute;
  z-index: 10;
  background-color: white;
}

.calendar-label {
  position: relative;
}

.calendar-icon-img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  @media (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.calendar-input {
  width: 100%;
  &:focus {
    outline: none;
  }
  &:active {
    border: 2px solid black;
  }
}
