@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

:root {
  --white: #ffffff;
  --black: #000000;

  --black10: #333236;
  --black20: #1b1b1b;

  --gray10: #fafafa;
  --gray20: #eeeeee;
  --gray30: #dddddd;
  --gray40: #cbc9cf;
  --gray50: #adaeb8;
  --gray60: #79747e;
  --gray70: #4b4b4b;

  --pink-gradient: linear-gradient(to bottom, var(--pink10), var(--pink20));
  --blue-gradient: linear-gradient(to bottom, var(--blue20), var(--reservation-hover));
  --gray-gradient: linear-gradient(to bottom, var(--gray30), var(--gray50));
  --orange-gradient: linear-gradient(to bottom, var(--orange10), var(--orange20));

  --orange10: #f8cd9c;
  --orange20: #f6b046;

  --red10: #ffe4e0;
  --red20: #ffdbdb;
  --red30: #ff5b45;
  --red40: #ff472e;

  --pink10: #ffaec8;
  --pink20: #e55784;

  --yellow10: #fef5d9;
  --yellow20: #ffc23d;

  --blue10: #e5f3ff;
  --blue20: #8bc2e0;
  --blue30: #3b8fdd;
  --blue40: #71e7ff;

  --success: #a4a4a4;
  --success-hover: #7f7f7f;
  --reservation: #77bee0;
  --reservation-hover: #3098c7;
  --approve: #f495a8;
  --approve-hover: #f17f94;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Pretendard Variable', sans-serif;
  height: 100%;
  padding: 0;
  font-size: 1.6rem;
}

main {
  background-color: var(--gray10);
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

button,
textarea,
input {
  font-family: 'Pretendard Variable', sans-serif;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 12px;
}

.button-black {
  background: var(--black20);
  border: 1px solid var(--black20);
  color: var(--white);

  &:hover {
    border: 1px solid var(--gray70);
    color: var(--gray40);
  }
}

.button-white {
  background: var(--white);
  border: 1px solid var(--black20);
  color: var(--black);

  &:hover {
    background: var(--gray40);
  }
}

.button-special {
  background-color: var(--red30);
  color: var(--white);
  border: 1px solid var(--red30);

  &:hover {
    background-color: var(--red40);
  }
}
