@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

:root {
  --white: #ffffff;
  --black: #000000;

  --black10: #333236;
  --black20: #1b1b1b;

  --gray10: #fafafa;
  --gray20: #eeeeee;
  --gray30: #dddddd;
  --gray40: #cbc9cf;
  --gray50: #adaeb8;
  --gray60: #79747e;
  --gray70: #4b4b4b;

  --green10: #6d9d88;

  --red10: #ffe4e0;
  --red20: #ffdbdb;
  --red30: #ff472e;

  --orange10: #ffdfae;
  --orange20: #f08b41;

  --yellow10: #fff7e0;
  --yellow20: #ffc23d;

  --blue10: #e5f3ff;
  --blue20: #8bc2e0;
  --blue30: #3b8fdd;

  --success: #a4a4a4;
  --success-hover: #7f7f7f;
  --reservation: #77bee0;
  --reservation-hover: #44afe0;
  --approve: #f495a8;
  --approve-hover: #f17f94;
}

* {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Pretendard Variable', sans-serif;
  height: 100%;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

button,
textarea {
  font-family: 'Pretendard Variable', sans-serif;
}
