.delete-modal {
  width: 400px;
  height: 240px;
  padding: 28px;
  background-color: var(--gray20);
  border: 1px solid var(--black);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-size: 2rem;
    padding-top: 20px;
  }

  p {
    padding-top: 20px;
    font-size: 1.6rem;
    .delete-modal-title {
      font-size: 1.6rem;
      font-weight: bold;
    }
    .delete-modal-special {
      color: var(--red40);
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

  div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    gap: 10px;

    .delete-modal-button {
      width: 100px;
      height: 40px;
    }
  }
}
