.my-reservation-button {
  padding: 5px 10px;
  height: 30px;
  font-size: 1.4rem;
  font-weight: 400;

  @media (min-width: 768px) {
    padding: 10px 20px;
    height: 30px;
    font-size: 1.6rem;
    font-weight: 600;
  }

  @media (min-width: 1024px) {
    height: 40px;
  }
}

.no-margin {
  margin: 0;
}

.reservation-status {
  font-weight: 600;

  &.pending {
    color: var(--blue30);
  }

  &.confirmed {
    color: var(--yellow20);
  }

  &.canceled {
    color: var(--gray40);
  }

  &.declined {
    color: var(--red40);
  }

  &.completed {
    color: var(--gray60);
  }
}
