.hot-space-container {
  width: 100%;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 0 40px;
  }
}

.hot-space-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 35px;
  font-size: 1.8rem;

  @media (min-width: 768px) {
    font-size: 2.4rem;
  }
}

.slider {
  height: 400px;
}

.hot-space-card-list {
  width: 100%;
  overflow: hidden;
  margin-right: 0;
}

.slick-slide {
  height: 320px;
  box-sizing: border-box;
  float: right;
}

.slick-list {
  padding-left: 15px !important;

  @media (min-width: 768px) {
    padding-left: 0 !important;
  }
}

.slick-prev:before {
  opacity: 1;
  color: black;
  left: 0;
}
