// 로그인 & 회원가입 페이지 배경 이미지
.signin-main,
.signup-main {
  background-image: url(../assets/images/background-emptyRoom.jpg);
  background-size: 100% 100%;
  padding: 50px 0;
}

.signin-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signin-logo {
  margin-bottom: 31.52px;
  // 태블릿
  @media (min-width: 768px) {
    margin-bottom: 72px;
  }
  // 데스크탑
  @media (min-width: 1024px) {
    margin-bottom: 48px;
  }
}

.signin-text {
  margin-top: 24px;
  color: var(--black10);
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  // 태블릿
  @media (min-width: 768px) {
    margin-top: 32px;
  }
}

.sign-link {
  color: var(--black20);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
