.mypage-space {
  width: 344px;

  // 태블릿
  @media (min-width: 768px) {
    width: 429px;
  }
  // 데스크탑
  @media (min-width: 1024px) {
    width: 792px;
  }
}

.mypage-list {
  margin-top: 16px;

  label {
    color: var(--black20);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px; /* 108.333% */
    gap: 16px;
  }
}

.mypage-space .userinput-container {
  margin: 0 0 32px 0;
}

.mypage-space .userinput-container.error {
  margin-bottom: 8px;
}

.mypage-space .userform-box {
  width: 100%;
}

.my-profile-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  @media (min-width: 768px) {
    margin-bottom: 24px;
  }

  width: 100%;
  margin: 0 auto;
  padding: 0;

  h2 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }

  h3 {
    margin: 6px 0;
    font-size: 1.4rem;

    @media (min-width: 768px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1024px) {
      font-size: 2rem;
    }
  }
}

.my-profile-header-title {
  display: flex;
  gap: 10px;
}

.my-profile-show-Image {
  border: 0;

  .side-profile {
    position: relative;
    width: 40px;
    height: 40px;
  }
  .side-icon-container {
    width: 100%;
    height: 100%;

    .side-icon {
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: var(--black20);
      }
    }
  }

  // 태블릿
  @media (min-width: 768px) {
    display: none;
  }
  // 데스크탑
  @media (min-width: 1024px) {
  }
}
.my-profile-header-button .sign-button {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 4px;
  color: var(--white);
}
