.form-input,
.form-textarea,
.calendar-input,
.place-form-box .dropdown-title,
.place-form-box .dropdown-item,
.set-date,
.set-start-time,
.set-end-time {
  font-size: 1.4rem;
  @media (min-width: 768px) {
    font-size: 1.6rem;
  }
}

.place-form-box {
  width: 344px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 430px;
  }

  @media (min-width: 1024px) {
    width: 800px;
  }
}

.form-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.add-place-title {
  font-size: 3.2rem;
  margin: 0;
}

.form-button {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 1.6rem;
  cursor: pointer;
}

.form-button-bottom-box {
  display: flex;
  justify-content: center;
}

.form-button-bottom {
  width: 300px;
  height: 48px;
  @media (min-width: 1024px) {
    width: 400px;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-input {
  width: 100%;
  border: 1px solid var(--gray50);
  padding: 8px 16px;
  height: 56px;
  border-radius: 4px;
  &:focus {
    outline: none;
    border: 1px solid var(--black);
  }
  &:active {
    border: 2px solid black;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-textarea {
  resize: none;
  border: 1px solid var(--gray50);
  padding: 16px;
  height: 346px;
  border-radius: 4px;
  &:focus {
    outline: none;
    border: 1px solid var(--black);
  }
  &:active {
    border: 2px solid black;
  }
}

.post-search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-search-button {
  height: 56px;
  width: 120px;
  background-color: var(--black20);
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  label {
    color: var(--black20, #1b1b1b);
    font-size: 2rem;
    font-weight: 700;
    @media (min-width: 768px) {
      font-size: 2.4rem;
    }
  }
}

.input-title {
  color: var(--black20, #1b1b1b);
  font-size: 2rem;
  font-weight: 700;
  @media (min-width: 768px) {
    font-size: 2.4rem;
  }
}
