main {
  flex-grow: 1;
  display: flex;
  justify-content: center;

  // overflow: scroll;
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  // @media (min-width: 768px) {
  //   overflow: scroll;
  // }
}
