.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @media (min-width: 768px) {
    justify-content: space-around;
    padding: 20px 0;
  }
}

.header-logo {
  width: 130px;
}
