.header-dropdown-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  gap: 20px;

  a {
    text-decoration: none;
  }

  li {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: var(--blue20);
    }
  }
}
.head-profile-dropdown .mypage-side-container {
  // background-color: red;
  padding: 0;
  align-items: center;
  // gap: 0;
  // top: 0;
  width: 100%;
  border: 0;
}

.head-profile-dropdown .dropdown-list {
}

.head-profile-dropdown .mypage-side-profile-container {
  display: none;
}

.head-profile-dropdown .mapage-side-list {
  background-color: var(--white);
  padding: 5px;
  gap: 0;
}

.head-profile-dropdown .mypage-side-item {
  height: 35px;
  padding-left: 0;
  .mypage-side-item-text {
    width: 100%;
    display: flex;
    // background-color: green;
    align-items: center;
    justify-content: center;
    // background-color: var(--white);
  }
  .mypage-side-item-image {
    display: none;
  }
  &:hover {
    background-color: var(--gray20);
  }
}

.head-profile-dropdown .mypage-side-item-current {
  height: 35px;
  background-color: var(--white);
  padding-left: 0;

  .mypage-side-item-text {
    width: 100%;
    display: flex;
    // background-color: green;
    align-items: center;
    justify-content: center;
    // background-color: var(--white);
  }
  .mypage-side-item-image {
    display: none;
  }
  &:hover {
    background-color: var(--gray20);
  }
}

.head-profile-logout {
  display: flex;
  align-items: center;
  color: var(--gray-gray_A1A1A1, #a1a1a1);
  height: 35px;
  /* [협] GlobalNomad/body-Bold */
  // font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  background-color: var(--white);
  width: 100%;
  // height: 100%;

  &:hover {
    color: var(--red40);
    background-color: var(--white);
  }
}

.logout-checking-modal {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  padding: 20px;
}

.logout-checking-modal-button {
  display: flex;
  gap: 10px;
}
