sub {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // flex-direction: column;
  // color: red;
  margin-top: 24px;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    // width: 744px;
    gap: 16px;
  }

  // 데스크탑
  @media (min-width: 1024px) {
    // width: 100%;
    gap: 24px;
    // margin-top: 72px;
  }
}

.mypage-side {
  .mypage-side-container {
    // position: sticky;

    // display: inline-block;
    // align-items: center;
    // justify-content: center;

    // width: 375px;
    // height: 740px;
    display: none;
    // background-color: green;
    // 태블릿
    @media (min-width: 768px) {
      display: flex;
    }
  }

  .mypage-header {
    width: 100%;
    // 태블릿
    @media (min-width: 768px) {
      // display: none;
    }
  }
}

.mypage-main {
  width: 375px;
  // padding: 0 15px;
  // position: relative;
  // display: inline-block;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: 344px;
  // height: 100%;
  // background-color: green;
  @media (min-width: 768px) {
    // flex-direction: row;
    // margin-top: 24px;
    width: 429px;
    // gap: 16px;
  }

  // 데스크탑
  @media (min-width: 1024px) {
    width: 792px;
    // height: 1000px;
    // gap: 24px;
  }
}

// sub {
//   // position: relative;
//   // overflow: auto;
//   // position: sticky;
//   display: flex;

//   justify-content: center;
//   // align-items: center;
//   align-items: start;
//   width: 100%;
//   // height: 100%;

//   @media (min-width: 768px) {
//     display: flex;
//     justify-content: center;
//     // align-items: center;
//     // display: flex;
//     // flex-direction: column;
//     // justify-content: center;
//     // align-items: center;
//     // flex-direction: row;
//     margin-top: 24px;
//     width: 744px;
//     gap: 16px;
//     // width: 744px;
//   }

//   // 데스크탑
//   @media (min-width: 1024px) {
//     // width: 792px;
//     width: 100%;
//     // height: 1000px;
//     gap: 24px;
//   }

//   .mypage-side {
//     // position: absolute;
//     position: sticky;
//     .side {
//       // position: absolute;
//       // display: flex;
//       // flex-direction: column;
//       display: none;
//       @media (min-width: 768px) {
//         // position: relative;
//         // position: sticky;
//         display: flex;
//         // background-color: green;
//         height: 100%;
//         // height: 1000px;
//       }
//     }
//     .header {
//       @media (min-width: 768px) {
//         display: none;
//       }
//     }
//   }

//   .mypage-main {
//     // position: relative;
//     // display: inline-block;
//     // flex-direction: column;
//     // justify-content: center;
//     // align-items: center;
//     width: 344px;
//     // height: 100%;
//     // background-color: green;
//     @media (min-width: 768px) {
//       // flex-direction: row;
//       // margin-top: 24px;
//       width: 429px;
//       // gap: 16px;
//     }

//     // 데스크탑
//     @media (min-width: 1024px) {
//       width: 792px;
//       // height: 1000px;
//       // gap: 24px;
//     }
//   }
// }
