sub {
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    margin-top: 24px;
    width: 744px;
    gap: 16px;
  }

  // 데스크탑
  @media (min-width: 1024px) {
    gap: 24px;
  }

  .mypage-header {
    display: flex;
    width: 375px;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.mypage-side {
  display: flex;
  flex-direction: column;
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
}
