.toast {
  width: fit-content;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  color: #fff;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.3);
  animation: toast-in 0.3s ease-in-out;
  border-radius: 12px;
  overflow: hidden;
  user-select: none;
  z-index: 9999;
  cursor: default;

  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;

  img {
    width: 40px;
    height: 40px;
  }

  .progress-bar {
    width: 100%;
    height: 5px;
    background-color: var(--white);
    border-radius: 12px;

    position: absolute;
    bottom: 0;
    left: 0;
  }

  span {
    font-size: 1.6rem;
  }

  &.success {
    background-color: rgb(116, 188, 116);
  }
  &.warning {
    background-color: rgb(239, 198, 83);
  }
  &.error {
    background-color: rgb(246, 146, 146);
  }
  &.out {
    animation: toast-out 0.3s ease-in-out;
  }
}

@keyframes toast-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toast-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
