.pagination-button {
  display: flex;
  width: 35px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: var(--white);
  border: 1px solid var(--black20);
  color: var(--black20);
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: var(--gray20);
  }

  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
    padding: 15px;
  }
}

.disabled {
  border-color: var(--gray40);
  color: var(--gray40);

  &:hover {
    background: inherit;
  }
}

.selected {
  color: var(--white);
  background-color: var(--black20);

  &:hover {
    background: var(--black20);
  }
}
