.schedule-input-box,
.set-schedule {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  gap: 4px;
  @media (min-width: 1024px) {
    gap: 20px;
  }

  input {
    display: flex;
    border: 1px solid var(--gray50);
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    &:focus {
      outline: none;
    }
    &:active {
      border: 2px solid black;
    }
  }
}

.between-time {
  font-size: 2rem;
  display: none;
  font-weight: 700;
  @media (min-width: 1024px) {
    display: block;
  }
}

.schedule-input-box {
  margin-top: 20px;
}

.start-time-input-box,
.end-time-input-box,
.set-start-time,
.set-end-time,
.set-date {
  position: relative;
  width: 80px;
  height: 100%;
  @media (min-width: 768px) {
    width: 104px;
  }
  @media (min-width: 1024px) {
    width: 140px;
  }
}

.start-time-title,
.end-time-title,
.calendar-input-title {
  position: absolute;
  top: -28px;
  color: var(--gray70, #4b4b4b);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.button-with-image {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  img {
    width: 44px;
    height: 44px;
  }
}

.set-schedules-box {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  max-height: 300px;
  overflow: auto;
  scrollbar-width: none;
}

.set-start-time,
.set-end-time,
.set-date {
  display: flex;
  border: 1px solid var(--gray60, #79747e);
  height: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.set-schedule div:first-child {
  flex: 1;
}

.schedule-hr {
  margin: 16px 0;
}

.schedule-input-box .dropdown {
  width: 80px;
  height: 44px;
  @media (min-width: 768px) {
    width: 104px;
  }
  @media (min-width: 1024px) {
    width: 140px;
  }
  .dropdown-select {
    border: 1px solid var(--gray50);
    box-shadow: 0 0 0 0;
    height: 100%;
    justify-content: center;
    &:active {
      border: 2px solid black;
    }
  }
  .dropdown-list {
    max-height: 300px;
  }
  .dropdown-item {
    padding: 12px 0;
  }
}
