.not-found-wrapper {
  display: flex;
  background: url(../assets/images/background-emptyRoom.jpg) no-repeat center center/cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

.not-found-logo {
  width: 150px;
  height: 150px;

  @media screen and (min-width: 768px) {
    width: 200px;
    height: 200px;
  }
}

.not-found-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .not-found-error-text {
    font-size: 2rem;
    font-weight: bold;

    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  .not-found-error-text-content {
    font-size: 1.4rem;

    @media screen and (min-width: 768px) {
      font-size: 1.6rem;
    }
  }
}
